/*div.container {
   min-height:100%;
   height:100%;
   position:relative;
}*/

div.header {
	height:164px;
	margin-left: 60px;
	margin-bottom: 30px;
}

/*OLD*/
/*div.menu {
	background-color: #762321;
	padding: 10px 0 10px 0;
	font-family: "Optima", Helvetica, "Lucida Grande", sans-serif;
	text-transform: uppercase;
	text-align:center;
	margin-bottom: 50px;
}*/

/***********MENU***********/
div.menu {
	background-color: #762321;
}

ul.main {
	background-color: #762321;
	
	text-transform: uppercase;
	text-align:center;
	padding: 0;
	width:100%;
	text-align: center;
	margin-bottom: 50px;
	padding: 10px 0 10px 0;
}

ul.main li {
	display: inline;
}

ul.main li a{
	padding: 10px 30px 10px 30px;
	color: white;
	text-decoration: none;
	font-family: 'Optima', Helvetica, 'Lucida Grande', sans-serif;
}

ul.main li a:hover{
	background-color: white;
	color: #762321;
	//font-family: 'Optima', Helvetica, 'Lucida Grande', sans-serif;
}

/**************************/

div.content {
	margin-left: 80px;
	width:900px;
	min-height:50%;
}

div.footer {
   width:100%;
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: #762321;
   font-family: "Optima", Helvetica, "Lucida Grande", sans-serif;
   font-size: 8pt;
   color:white;
   height:15px;
   margin-top: 10px;
}

form {
	margin-right: 60px;
	margin-bottom: 0;
}

input {
	font-family: "Optima", Helvetica, "Lucida Grande", sans-serif;
   	font-size: 7pt;
}

}
div.a {
	background-color: #f0c095;
	padding: 10px 0 10px 0;
	height: 22px;
	width: 700px;
	margin-bottom: 5px;
}

div.b {
	background-color: #e3ad7a;
	padding: 10px 0 10px 0;
	height: 22px;
	width: 700px;
	margin-bottom: 5px;
}

h1 {
	font-family: "Optima", Helvetica, "Lucida Grande", sans-serif;
	color:black;
	text-transform: uppercase;
}

h2 {
	font-family: "Optima", Helvetica, "Lucida Grande", sans-serif;
}

h3 {
	font-family: "Optima", Helvetica, "Lucida Grande", sans-serif;
	margin: 0 0 0 10px;
}

p {
	font-family: "Helvetica", sans-serif;
	font-size: 15px;
	line-height: 1.5;
	font-weight: 300;
}

a {
	color:#762321;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

li {
    list-style-type: none;
    font-family: "Helvetica", sans-serif;
	font-size: 15px;
	width:900px;
	line-height: 1.5;
	font-weight: 300;
}

.page_numbers {
	font-family: "Helvetica", sans-serif;
	font-size: 15px;
	line-height: 1.5;
	font-weight: 300;
}

.page_numbers a {
	text-decoration: none;
}

.page_numbers .cur_page_number {
	color: #762321;
	text-decoration: underline;
}

/******************/
/*AO LISTING TABLE*/

.aolisting tr:nth-child(even) {
  background-color: #f0c095;
}

.aolisting tr:nth-child(odd) {
  background-color: #e3ad7a;
}

.aolisting td[title^="AO Title"] {

}

.aolisting td[title^="AO Title"] a{
  font-family: "Optima", Helvetica, "Lucida Grande", sans-serif;
  color: black;
}

.aolisting td[title^="AO Identifier"] {
}

.aolisting td[title^="AO Identifier"] a {
	font-family: "Helvetica", sans-serif;
	color:black;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 300;	
}

.aolisting {
	text-decoration: none;
}

.aolisting td{
	padding: 5px 10px 5px 10px;
	border-bottom: solid white 3px;
}

.aolisting table {
   margin-left: 0px;
   width: 700px;
   padding: 10px;
}
/******************/
/******************/

/******************/
/***FILE LISTING***/
.title {
  font-family: "Optima", Helvetica, "Lucida Grande", sans-serif;
  color: black;
  font-size: 16px;
}

.text {
	font-family: "Helvetica", sans-serif;
	color:black;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 300;	
}
.text a{
	text-decoration: none;
	color:#762321;
}

.file_listing table {
	width: 700px;
}

.file_listing td[title^="header"] {
	font-family: "Optima", Helvetica, "Lucida Grande", sans-serif;
  	color: black;
  	font-size: 16px;
  	font-weight: bold;
}

.file_listing td{
	padding: 0 40px 5px 0;
	border-bottom: solid white 1px;
}

.file_listing td{
	font-family: "Helvetica", sans-serif;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 300;
}

.file_listing td a{
	text-decoration: none;
	color:#762321;
}
/******************/
/******************/

/*
   Class aodetailstorage is for the table of Storage Details
   in template file archivesobject_detail.html
   */

.aodetailstorage {
        font-family: "Helvetica", sans-serif;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 300;
                   }

.aodetailstorage table {
                         margin-left: 0px;
                         margin-right: 0px;
                         padding: 10px;
                         width: 700px;
                         border: 1px solid;
                         border-spacing: 0 20px;
                         }


.aodetailstorage td[title^=Online] {
                                    width: 10px;
                                    background-color: green;
                                    margin-right: 10px;
                                    }

.aodetailstorage td[title^=Offline] {
                                      width: 10px;
                                      background-color: red;
                                      margin-right: 10px;
                                     }

.aodetailstorage td[title^=Storage] {
                                      width: 300px;
                                      }

.aodetailstorage td[title^=Size] {
                                   width: 100px;
                                   }

.aodetailstorage td[title^=View] {
                                   width: 120px;
                                 }

.aodetailstorage td[title^=Download] {
                                       float: right;
                                       }
